@tailwind base;
@tailwind components;
@tailwind utilities;

/* =====================
CSS VARIABLES (THEME)
===================== */

:root {
--bg-primary: #ffffff;
--bg-secondary: #f9fafb;
--bg-tertiary: #f3f4f6;

--text-heading: #171717;
--text-body: #404040;
--text-muted: #737373;
}

.dark {
--bg-primary: #0b0b0b;
--bg-secondary: #181818;
--bg-tertiary: #242424;

--text-heading: #fafafa;
--text-body: #d4d4d4;
--text-muted: #a3a3a3;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}
.card-hover {
  transition: transform 0.2s ease;
}

.card-hover:hover {
  transform: translateY(-4px);
}



/* =====================
BASE STYLES
===================== */

html,
body {
height: 100%;
}

body {
background-color: var(--bg-primary);
color: var(--text-body);
@apply antialiased;
}
